<!--
  Generated template for the CategoriasPostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>Nova Categoria</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="newForms">
        <ion-item>
            <ion-label floating>Nome</ion-label>
            <ion-input [formControl]="newForms.controls['nome']" type="text"></ion-input>
        </ion-item>
        <div *ngIf="!newForms.controls['nome'].valid && newForms.controls.nome.dirty" class="validator-error">
            Por favor entre com um nome válido!
        </div>

        <ion-item no-border>
            <ion-toggle checked="true" type="text" [formControl]="newForms.controls['status']" value="1"></ion-toggle>
            <ion-label>Status</ion-label>
        </ion-item>

        <ion-row no-border>
            <ion-col text-center>
                <button ion-button block color="secondary" (click)="onPost()" [disabled]="!newForms.valid">Cadastrar</button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>
