<!--
  Generated template for the ProdutosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle right>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Produtos</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <button ion-button color="dark" full round (click)="scan()">Start Scan</button>

    <ion-fab bottom right>
        <button ion-fab name="add" color="secondary" (click)="getPostPage()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
