<!--
  Generated template for the CategoriasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-title>Categorias</ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
    <button ion-button type="button" (click)="sort()">Sort</button>

    <ion-list class="list-cat">
        <ion-item *ngFor="let data of collection | search : terms | sort: {property: column, order: order}" (click)="presentActionSheet(data.id)">
            <ion-checkbox color="danger" checked="true" hidden></ion-checkbox>
            <ion-label>
                {{data.nome}}
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-fab bottom right>
        <button ion-fab color="secondary" (click)="getPostPage()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
