<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle right>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Minhas Listas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <p>
        Nenhuma lista encontrada!
    </p>

</ion-content>
