<!--
  Generated template for the CategoriasPutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title text-center="">
            <ion-icon name="create"></ion-icon>
            {{categoria.nome}}
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="newForms">
        <ion-item hidden>
            <ion-label floating>id</ion-label>
            <ion-input [formControl]="newForms.controls['id']" type="text" value="{{categoria.id}}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Nome</ion-label>
            <ion-input [formControl]="newForms.controls['nome']" type="text" value="{{categoria.nome}}"></ion-input>
        </ion-item>
        <div *ngIf="!newForms.controls['nome'].valid && newForms.controls['nome'].dirty" class="validator-error">
            Por favor entre com um nome válido!
        </div>

        <ion-item no-border>
            <ion-toggle checked="{{newForms.controls['status'].value ? true : false}}" [formControl]="newForms.controls['status']"></ion-toggle>
            <ion-label text-right>Status</ion-label>
        </ion-item>

        <ion-row>
            <ion-col text-center="">
                <button ion-button block color="secondary" (click)="onPut()" [disabled]="!newForms.valid">Atualizar</button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>